@import "../variables";

.button {
  background-color: $lightbrown;
  color: #fff;
  text-align: center;
  padding: 11px 40px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "poppins";
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  &:hover {
    background: #fff;
    color: $lightbrown;
  }
}

.button-inverse {
  background-color: #fff;
  color: $lightbrown;
  &:hover {
    background: $lightbrown;
    color: #fff;
  }
}

@media screen and (max-width: 767px){
  .button{
  padding: 10px 20px;
}
}
